# Local machine overrides and setup backups for this dotfiles repo only
**/work
**/personal

**/local
**/local.*
**/*.local
**/*.local.*

**/backup
**/backup.*
**/*.backup
**/*.backup.*

!**/*.example
