[user]
  name = Trillian Astra
  email = 54722857+tricia-mcmillan@users.noreply.github.com
  signingkey = ~/.ssh/id_ed25519_personal.pub

[commit]
  gpgSign = true # Sign all commits by default

[tag]
  gpgSign = true # Sign all tags by default

[gpg]
  format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

